html, body{
    /* background-image: url("../images/background.png"); */
    /* interesting note: linking background image in html rather then body left everything within the body over a white background above the image */
    height: 100%
}

body{
    background-image: url("../images/background.png");
}

#content{
background-color: rgb(128, 128, 128);
margin-right: 15px;
padding: 20px;
}

h2, h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
}

#my-picture{
    float: left;
    padding-right: 10px;
}

#connect{
    padding: 20px;
    text-align: center;
    width: 230px;
    background-color: rgb(128, 128, 128);

}
.col-sm-4{
