html, body{
    /* background-image: url("../images/background.png"); */
    /* interesting note: linking background image in html rather then body left everything within the body over a white background above the image */
    height: 100%;
    margin:0;
}
#about{
    background-color: rgba(128, 128, 128, 0.8);
    margin-top: 11px;
    margin-bottom: 11px;
}
.card{
    background-color: rgba(128, 128, 128, 0.8);
}
.jumbotron{
    background-image: url("../images/Beach.jpg");
    text-align: center;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #010;
}
body{
    background-image: url("../images/background.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container{
    margin-bottom: 100px;
}
.portfolioTitle{
    /* color: rgb(255, 255, 255);s */
    /* font-size: 20px; */
    text-align: center;
}
#footertext{
    float:none;
   color:grey;
    display: block;
    text-align: center;
}

.liveLinks{
    text-align: center;
    margin-bottom: 0;
    font-size: 20px
}
#my-picture{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
footer {
    /* background-color: rgba(0, 0, 0, 0.6)!important; */
    /* border-top: 1px solid lightgray; */
    background-color: rgba(0, 0, 0, 0.8)!important;
  }
  